:root {
    --primary-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --accent-text-color: #4D5AE5;
    --ocean-color:#404BBF;
    --primary-bg-color: #fff;
    --success-color: #31D0AA;
    --accent-color:#E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;

}


.list {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.item {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin: 0
}
    
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0
}

.flex {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap24 {
    gap: 24px;
}


/*!------------------------------------------------- header  */

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.logo, .logo-2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-text-color);
    text-decoration: none;
}

.logo-2 {
    color: var(--primary-text-color);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: white;
    letter-spacing: 0.02em;
}

.header-menu {
    color: var(--secondary-text-color);
}

.header-list {
    padding-left: 76px;
    gap: 40px;
    list-style-type: none
}

.about-item {
    list-style-type: none;
}

.header-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--ocean-color);
}

.header-link-contant {
line-height: 1.5;
color: var(--primary-text-color);
text-decoration: none;
}
.header-link-contant:hover,
.header-link-contant:focus {
    color: var(--ocean-color);
}

.header-list-link {
    gap: 40px;
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
}

/*!------------------------------------------------- hero  */
.hero {
    padding: 188px 0px;
    background: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    max-width: 496px;
    text-align: center;
    margin: 0 auto 48px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    background: var(--accent-text-color);
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: #FFFFFF;

}

.btn:focus,
.btn:hover {
    background: var(--ocean-color);
    color: var(--primary-text-color);
}

/*!------------------------------------------------- about   */

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-list {
    margin: 0;
    padding: 0;
}

/* .about-list {
    gap: 24px;
} */
.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color); 
    margin-bottom: 8px;
    
}

/*!------------------------------------------------- what are we doing   */

.work {
    padding-bottom: 120px;
}

.work-title {
    margin-top: 0;
    margin-bottom: 72px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color); 
    text-align: center;
text-transform: capitalize;

}
.work-list {
    width: calc((100% - 30) / 3);
    padding: 0;
    margin: 0;
}
.work-item {
    list-style-type: none;
}

.work-item:last-child {
    margin-right: 0;
}

.work-item img {
    display: block;
    border: none;
}

/*!------------------------------------------------- team   */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.member-list {
    width: calc((100% - 72px) / 4);
    padding: 0;
    margin: 0;
}

.team-title {
    margin-top: 0;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--secondary-text-color);
margin-bottom: 72px;
text-align: center;
}

.member-item {
list-style-type: none;
background: #FFFFFF;
/* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
border-radius: 0px 0px 4px 4px;
padding-bottom: 32px;
}
.member-img {
    margin-bottom: 24px;
    display: block;
    border: none;
}
.member-item > h3 {
    text-align: center;
    margin-bottom: 8px;
}
/* .member-item {
    margin-right: 24px;
} */

/* .member-item:last-child {
    margin-right: 0;
} */

.member-item > p {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color); 
}

/* .member-icon-list {
    display: flex;    
    justify-content: center;
    gap: 24px;
} */

/* .member-icon-item {
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
} */

/* .member-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* 
.member-icon-link:hover,
.member-icon-link:focus {
    background-color: var(--primary-text-color);
} */

/* .member-icon-link:hover .social-logo {
    fill: rebeccapurple;
} */


/* .social-logo {
    width: 16px;
    height: 16px;
} */

/*!------------------------------------------------- customers  */

/* .customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-title {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--secondary-text-color);
margin-bottom: 72px;
}
.customres-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.customers-items {
    width: 168px;
    height: 88px;

}
.customers-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.castomers-logo {
    width: 104px;
    height: 56px;

}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--accent-text-color);
    background-color: #F4F4FD;
}

.customers-link:hover .castomers-logo,
.customers-link:focus .castomers-logo {
    fill: var(--accent-text-color);
}
 */




/*!------------------------------------------------- footer  */

footer {
background: var(--secondary-text-color);
padding-top: 100px;
padding-bottom: 100px;
}

.footer-link {
    margin-bottom: 17px;
}

.footer-logo2 {
    color: #F4F4FD;
}

.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
margin: 0;
}

.social-media {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
    }

/* .footer-left {
    margin-right: 120px;
} */

footer .member-icon-list  {
    gap: 12px;
}

/*!------------------------------------------------- portfolio  */

.portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
}

.portfolio-btn {
color: var(--accent-text-color);
align-items: center;
padding: 12px 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
color: #FFFFFF;
background-color: #404BBF;
border: 1px solid #404BBF;
/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
}

.list-btn {
    margin-bottom: 72px;
    justify-content: center;
    list-style-type: none;
}

/* .btn-item {
    margin-right: 24px;
}

.btn-item:last-child {
    margin-right: 0; */
.example-img {
    display: block;
    border: none;
}
.example-link {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.list-example {
display: flex;
justify-content: center;
flex-wrap: wrap;
column-gap: 22px;
row-gap: 48px;
margin: 0;
padding: 0;
list-style: none;
}

/* .example-item:nth-child(3n+2) {
    margin-left: 24px;
    margin-right: 24px;
    } */

.example-item {
    background: #FFFFFF;
    list-style-type: none;

}

/* .example-img {
    margin-bottom: 32px;
} */


.example-title {
    margin-bottom: 8px;
    padding-left: 16px;
    padding-top: 32px;
}

.example-text {
    padding-bottom: 32px;
    padding-left: 16px;
}

.card-border {
    border: 1px solid #E7E9FC;
    border-top: 0;
}

/* .example-link {
    width: 360px;
    height: 420px;
} */

.example-link:hover,
.example-link:focus {
    color: var(--secondary-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* 
.example-item:hover .card-border, 
.example-item:focus .card-border {
    color: var(--secondary-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    border-top: 0px;
} */